
body {
  font-size: 16px;
  color: #fff;
  background-color: #2B7A78;
  font-family: 'Arial'
}

/** HEADER **/
#header-nav {
  background-color: #17252A;
  border-radius: 0;
  border: 0;
  margin-bottom: 0px;
}
.navbar-brand h1 {
  color: #DEF2F1;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  float: left;
  margin: 0px;
  line-height: .75;
}
#nav-list a {
  color: #DEF2F1;
  text-align: center;
}
#nav-list a:hover {
  background-color: #DEF2F1;
  color: #17252A;
}
#nav-list a span {
  font-size: 1.8em;
}



.navbar-header button.navbar-toggle {
  clear: both;

}
/* END HEADER */

/* HOME PAGE */
.container {
	margin-left: 0px;
    height: auto;

}
#containter-fluid {
	box-sizing:border-box;
}



#childelement {

	color: black;
	background-color: #DEF2F1;
	padding: 20px;
	margin-bottom: 20px;
	height: auto;

}

@media (max-width: 768px) {

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background: #E7E7E7;
}
#nav-list a {
  color: #17252A;
  text-align: center;
}
#nav-list a:hover {
  background-color: #17252A;
  color: #E7E7E7;
}
}
